<div class="manage-users">

    <h2 class="manageUsers">Manage Users</h2>

    <div class="users-header">
        <div class="search-container">
            <input type="text" class="search-input" placeholder="Search by name or email" [(ngModel)]="searchUser"
                (input)="searchUsers()" />

            <!-- <span class="totalUsers">Total Users: {{ totalUsers }}</span> -->

        </div>
        <div class="total-users">
            Total Users: <span>{{ filteredUsers.length }}</span>
        </div>

    </div>


    <table>

        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Registered At</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>

            <tr *ngFor="let user of filteredUsers">

                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>

                <td>
                    <span class="role-badge" [ngClass]="{
    'admin-role': isAdminss(user),
    'user-role': !isAdminss(user)
  }">
                        {{ isAdminss(user) ? 'Admin Role' : 'User Role' }}
                    </span>
                </td>
                <td>{{ user.createdAt | date:'medium' }}</td>

                <td>
                    <button class="delete-btn" (click)="openDeleteDialog(user.id)">
                        Delete
                    </button>
                </td>

            </tr>

        </tbody>

    </table>

</div>

<div class="modal-overlay" *ngIf="showDeleteDialog">
    <div class="modal-box">

        <h3>Delete selected items</h3>

        <p>Are you sure, you want to delete this user?</p>

        <div class="modal-actions">
            <button class="btn-cancel" (click)="closeDialog()">Cancel</button>
            <button class="btn-delete" (click)="confirmDelete()">Delete</button>
        </div>

    </div>
</div>