/* You can add global styles to this file, and also import other style files */


html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    background: linear-gradient(to right, #eef2f3, #d9e4f5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

app-root {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}