.manage-roles {
    padding: 30px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input {
    padding: 8px 10px;
    width: 250px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #2ecc71;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.role-badge {
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;

}

.admin-role {
    background: #ff4d4f;
    color: white;
}

.user-role {
    background: #2f80ed;
    color: white;
}

.delete-btn {
    background: #e74c3c;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.search-container {
    width: 300px;
    position: relative;
    z-index: 1;
}

.search-input {
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    outline: none;
    font-size: 14px;
    transition: all 0.3s ease;
    background-color: #fff;
}

.search-input:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 4px rgba(76, 175, 80, 0.3);
}

.search-input::placeholder {
    color: #999;
}

.users-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.total-users {
    font-size: 16px;
    font-weight: 600;
    color: #eb992e;
}

.search-users-label {
    font-size: 16px;
    font-weight: 600;
    color: #eb992e;
    padding: 10px;
}

.total-users span {
    color: #4CAF50;
    font-weight: 700;
}

.manageRoles {
    font-weight: 600;
    color: #29ceee;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #4CAF50;
}

input:checked+.slider:before {
    transform: translateX(26px);
}